body {
    background-color: gray;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family: "exo-soft", sans-serif;
}

img {
    height: 100%;
    width: 100%;
    position: absolute;
}

#frame {
    display: grid;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: black;
}


p {
    font-weight: 300;
}

#spaceBetween {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

.fitimg {
    object-fit: cover;
}

.fitcontent {
    position: relative;
    max-height: 50%; /* Make the image fit inside the button vertically */
    max-width: 100%;
    vertical-align: middle;
}

header {
    font-size: 35px;

}

#header {
    font-weight: 700;
    font-style: normal;
}

a {
    color: black;
}

#textSection {
    padding-top: 18px;
    padding-left:20px ;
    color: white;
    background-color: #000000d0;
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 20%;
    transition-duration: 1000ms;
    overflow: auto;
}

#textSection:hover {
    overflow: auto;
    height: 60%;
    bottom: 0;
}

#lbutton {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 5%;
    height: 10%;
    border: 2px;
    border-color: black;
    background-color: #80808080;
}
#rbutton {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 5%;
    height: 10%;
    border: 2px;
    border-color: black;
    background-color: #80808080;
    right: 10px;
}

#lbutton:hover {
    background-color: #505050;
    cursor: pointer;
}
#rbutton:hover {
    background-color: #505050;
    cursor: pointer;
}

.NextDefault {
    right: -100%;
}

.PrevDefault {
    left: -100%;
}

.currDefault {
    left: 0px;
    right: 0px;
}

.MiddleSlideToRight {
    transition-duration: 1000ms;
    right: -100%;
}

.LeftSlideToMiddle {
    transition-duration: 1000ms;
    left: 0px;
}

.MiddleSlideToLeft {
    transition-duration: 1000ms;
    left: -100%;
}

.RightSlideToMiddle {
    transition-duration: 1000ms;
    right: 0px;
}
